
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{master.html}">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../static/css/estrenos.css" th:href="@{/css/estrenos.css}">
<title>Extrenos</title>
</head>
<body>

	<div >
		<h1>hola</h1>
	</div>


	  <div layout:fragment="inicio" class="body2">
	  <h1 class="titulo">Estrenos</h1>
		<div class="card" th:each="anime : ${ultimosAnimes}" th:object="${anime}">
			<div class="face front">
				<img th:src="@{/assets/{filename}(filename=*{rutaPortada})}" th:alt="*{titulo}">
				<h3 th:text="*{titulo}"></h3>
			</div>
			<div class="face back">
				<h3 th:text="*{titulo}"></h3>
				<h3>Categoria
				<p  th:each="categoria : *{categoria}" th:text="${categoria.nombreCategoria}"></p></h3>
				<h3>Episodios
				<p  th:text="*{capitulos}"></p></h3>
				<h3>Fecha de Estreno
				<p  th:text="*{#temporals.format(fechaEstreno,'dd/MM/yyyy')}"></p></h3>
				<div>
					<a th:href="@{/anime/animes/{id}(id=*{id})}">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-camera-reels-fill" viewBox="0 0 16 20">
	  						 <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
							 <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
							 <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>	
		  				</svg>Detalles
	  				</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>